<title>REGISTRO VACUNA</title>
<br>
<div align="center"><img src="assets/registrar.png" alt="Logo">
    <h1>REGISTRO VACUNA</h1>
</div><br>

<div id="divcontainer" class="forms">
    <form id="FormularioRegistro" [formGroup]="formregistro">
        <div class="form-group">
            <button id="divcontainer2" class="btn btn-primary">
                <a style="color: rgb(253, 253, 253); font-size: 20px" href="https://localhost:5001/estudianteregistro"> Registrar Estudiante</a>
            </button>
            <label for="estudiante">Seleccionar Cedula del Estudiante</label>
            <select *ngFor="let estudiante of estudiantes " id="cedula" name="cedula"
                [ngClass]="{'is-invalid': control.cedula.errors && control.cedula.touched}" formControlName="cedula">
                <option value="seleccionar">Seleccionar</option>
                <option value={{estudiante.cedula}}>Cedula: {{estudiante.cedula}}</option>
            </select>
            <div *ngIf="control.cedula.errors" class="invalid-feedback">
                <div *ngIf="control.cedula.errors.required">Se requiere la cedula</div>
            </div>
        </div>

        <div class="form-group">
            <label>Id Vacuna</label>
            <input id= idVacuna name="idVacuna"
                [ngClass]="{'is-invalid': control.idVacuna.errors && control.idVacuna.touched}" type="text"
                 formControlName="idVacuna" placeholder="Id Vacuna">
            <div *ngIf="control.idVacuna.errors" class="invalid-feedback">
                <div *ngIf="control.idVacuna.errors.required">Se requiere la idvacuna</div>
            </div>
        </div>

        <div>
            <label>Tipo de Vacuna</label>
            <select id="tipoVacuna" name="tipoVacuna"
                [ngClass]="{'is-invalid': control.tipoVacuna.errors && control.tipoVacuna.touched}"
                formControlName="tipoVacuna">
                <option value="seleccionar">Seleccionar</option>
                <option value="Haemophilus influenza tipo B">Haemophilus influenza tipo B</option>
                <option value="Tdpa">Tdpa</option>
                <option value="DTPa">DTPa</option>
                <option value="Hepatitis A">Hepatitis A</option>
                <option value="Hepatitis B"> Hepatitis B </option>
                <option value="virus del papiloma Humano"> virus del papiloma Humano</option>
            </select>
            <div *ngIf="control.tipoVacuna.errors" class="invalid-feedback">
                <div *ngIf="control.tipoVacuna.errors.required">Se requiere el tipovacuna</div>
            </div>
        </div>

        <div>
            <label>Fecha de Vacunacion</label><br>
            <input style="width: 100%; height: 55px; border-color: #007bff;" type="date" id="fechaVacuna"
                name="fechaVacuna" [ngClass]="{'is-invalid': control.fechaVacuna.errors && control.fechaVacuna.touched}"
                formControlName="fechaVacuna" placeholder="Fecha de Nacimiento">
            <div *ngIf="control.fechaVacuna.errors" class="invalid-feedback">
                <div *ngIf="control.fechaVacuna.errors.required">Se requiere la fechana vacunacion</div>
            </div>
        </div>

        <br>
        <button id="divcontainer2" class="btn btn-primary" (click)="onSubmit()" [disabled]="formregistro.invalid">
            <span>
                <a href="https://localhost:5001/clienteregistro"></a>
            </span>
            Guardar</button>
    </form>
</div>
<br><br>