<nav id="navcont" class="navbar navbar-expand-sm">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">INICIO</a>
    <!--Dropdown primary-->
    <div class="dropdown">
      <!--Trigger-->
      <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu1-1" data-toggle="dropdown">
        ADMINISTRACION
      </a>
      <!--Menu-->
      <div style="width: 90%; left: 4%; top: 150%;" class="dropdown-menu dropdown-primary" id="your-custom-id">
        <a style="font-size: 20px;" class="dropdown-item mdb-dropdownLink-1" [routerLink]='["/estudianteregistro"]'>Registro Estudiante</a>
        <a style="font-size: 20px;" class="dropdown-item mdb-dropdownLink-1" [routerLink]='["/estudianteconsulta"]'>Consulta Estudiante</a>
        <a style="font-size: 20px;" class="dropdown-item mdb-dropdownLink-1" [routerLink]='["/vacunaregistro"]'>Registro Vacuna</a>
        <a style="font-size: 20px;" class="dropdown-item mdb-dropdownLink-1" [routerLink]='["/vacunaconsulta"]'>Consulta Vacuna</a>
      </div>
    </div>
    <!--/Dropdown primary-->
  </div>
</nav>
